{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title> Text to Image Synthesis using GANs </title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="{% static 'js' %}/index.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="{% static 'css' %}/index.css"></style>
	</head>
	<body>
		<div class='header'>
			<h1> Text to Image Synthesis using GANs </h1>
		</div>
		<div class='project'>
			<div class='label'>
				<p> Describe a bird in the textbox given below and the program will try to generate an image for it. <br> eg. <b>this is a small bird with yellow and black feathers</b></p>
			</div>
			{% csrf_token %}
			<div class='input'>	
				<input class='text' type='text' id='text' name='text'>
				<div class='random' id='random'>
					<div class="holder">
						<span class="fa fa-random"></span>
					</div>
				</div>
				<div class='submit' id='submit'>
					<div class="holder">
						<span class="fa fa-play"></span>
					</div>
				</div>
			</div>
			<div>
				<div id='loader' style="visibility: hidden;">
					<div class="holder">
						<div class="loader"></div>
					</div>
				</div>
				<div id='content'> 
					<!-- <div style="width: 30px; height: 500px; background-color: brown;"></div> -->
				</div>
			</div>
		</div>
		<div class='footer'>
			<div class='footer-block'>
				Project Group Number: <b>32</b>
			</div>
			<div class='footer-block'>
				<table>
					<th colspan="2"> By: </th>
					<tr><td class='name'> Mansi Sampat</td><td>(<b>U16EC015</b>)</td></tr>
					<tr><td class='name'> Parthav Patel</td><td>(<b>U16EC016</b>)</td></tr>
					<tr><td class='name'> Kruti Dharaiya</td><td>(<b>U16EC029</b>)</td></tr>
					<tr><td class='name'> Abhinav Jain</td><td>(<b>U16EC067</b>)</td></tr>
				</table>
			</div>
			<div class='footer-block'>
				Guided by: Dr. Kishor Upla
			</div>
		</div>
	</body>
</html>